<h1>Eat-Da-Burger!</h1>

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSh6Fyae9_isgZbY1KlN5G8bzuVr1EvQf71pw&usqp=CAU" alt="juicy lucy">

<h2>Add a Burger</h2>
<form class="create-update-form" action="burgers/create" method="POST">

  <div class="form-group">
    <label for="ca">Type of Burger:</label>
    <input type="text" id="ca" name="burger_name" required>
  </div>

  <button type="submit">Add Burger</button>
</form>

<h2>Burgers to Devour</h2>

<ul>
  {{#each burgers}}
    {{#unless this.devoured}}
      <li>
        {{this.burger_name}}

        <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="true">
          <button type="submit">DEVOUR!</button>
        </form>
      </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Devoured Burgers</h2>

<ul>
  {{#each burgers}}
    {{#if this.devoured}}
      <li>
        {{this.burger_name}}
      </li>
    {{/if}}
  {{/each}}
</ul>

